[submodule "jmdot-emacs-d/lisp/arduino-mode"]
	path = jmdot-emacs-d/lisp/arduino-mode
	url = https://github.com/bookest/arduino-mode.git
[submodule "jmdot-emacs-d/lisp/freefem-mode"]
	path = jmdot-emacs-d/lisp/freefem-mode
	url = https://github.com/rrgalvan/freefem-mode.git
[submodule "jmdot-emacs-d/lisp/igor-mode"]
	path = jmdot-emacs-d/lisp/igor-mode
	url = https://github.com/yamad/igor-mode.git
[submodule "jmdot-emacs-d/lisp/yatex"]
	path = jmdot-emacs-d/lisp/yatex
	url = https://www.yatex.org/gitbucket/git/yuuji/yatex.git
[submodule "jmdot-emacs-d/lisp/emacs-crowi"]
	path = jmdot-emacs-d/lisp/emacs-crowi
	url = https://github.com/hirocarma/emacs-crowi
[submodule "jmdot-emacs-d/lisp/vivado_mode"]
	path = jmdot-emacs-d/lisp/vivado_mode
	url = https://github.com/ashtonchase/vivado_mode.git
[submodule "dotvim/bundle/vim-xdc-syntax"]
	path = dotvim/bundle/vim-xdc-syntax
	url = https://github.com/amal-khailtash/vim-xdc-syntax.git
