lisp/skk/
share/skk/NICOLA-SKK.tut
share/skk/SKK-JISYO.L
info/skk.info
share/skk/SKK.tut
share/skk/SKK.tut.E
share/skk/skk.xpm
etc/skk/NICOLA-SKK.tut
etc/skk/SKK-JISYO.L
etc/skk/SKK.tut
etc/skk/SKK.tut.E
etc/skk/skk.xpm
lisp/elpa/
auto-save-list/
elpa/
history
lastdir
#*#
